Flask==2.3.2
gunicorn

# 数据处理与分析
pandas==2.2.2
numpy==1.26.4

# HTTP 请求
requests==2.31.0

# 可视化
matplotlib==3.8.4

# 实用工具
python-dotenv==1.0.1
PyYAML==6.0.1

# 其他通用科学计算工具
scipy==1.13.0

# 网页抓取
beautifulsoup4==4.12.3
lxml==5.1.0

# PPT 处理
python-pptx==0.6.21